
#file-input{
    opacity: 0;
    display: none;
}

#main-form{
    display: flex;
    flex-direction: column;
    width: 400px;

}
.btn{
    width: 150px;
}
.bt2{
    margin-top: 10px;
}
.flex-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
/* maior: diz filho direto da div flex*/
.flex-container > button {
position: absolute;
left: 62px;
top: 50px;
}
